<!DOCTYPE html>
<html lang="ja"> 
    <head>
        <meta charset="UTF-8">
        <title>MPCad</title>
        <!-- css -->
        <link rel="stylesheet" href="/static/css/style_copy.css">
    </head>
    <body>
        <!-- メニューバー -->
        <div id="menu-bar">
            <p>MPCad</p>
            <div class="dropdown" id="add-dropdown">
                <button class="dropdown-btn">追加</button>
                <div class="dropdown-content">
                    <button id="add-cube">立方体</button>
                    <button id="add-sphere">球体</button>
                    <button id="add-plane">平面</button>
                    <button id="add-glb">モデル</button>
                </div>
            </div>
            <button id="delete-btn">削除</button>
            <button id="mode-switch">通常</button>
        </div>
    </body>